body, 
html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #0D0D0D;
    color: #fff;
}

.portfolio {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    grid-row-gap: 2%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 8%;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding-bottom: 2%;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for the video */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-box {
    width: 100%;
    height: 100%;
}

.text-box h3 {
    margin: 0;
    padding: 4px 0;
    font-weight: 600;
    font-size: 22px;
}
.text-box p {
    margin: 0;
    padding: 4px 0;
    font-weight: 200;
    font-size: 16px;
}
.text-box h2 {
    margin: 0;
    padding: 4px 0;
    font-weight: 600;
    font-size: 16px;
    color: #868686;
}

@media screen and (max-width: 1000px) {
    /* For screens with a maximum width of 600px (adjust as needed) */
    .portfolio {
        grid-template-columns: 1fr; /* Single video per row on smaller screens */
    }
}

.banner {
    background-color: #141414; /* Background color of the banner */
    color: #fff;           /* Text color */
    text-align: center;    /* Center-align the text */
    padding: 20px 2%;       /* Add top and bottom padding */
}

.banner h1 {
    font-family: 'Archivo Black', sans-serif;
    margin: 0;            /* Remove margin for the heading */
    padding: 0;
    font-size: 44px;      /* Adjust font size as needed */
}

.banner nav ul {
    font-weight: 600;
    font-size: 22px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.banner nav ul li {
    display: inline;
    margin-right: 0;   /* Add space between social links */
}

.banner nav ul li:last-child {
    margin-right: 0;      /* Remove margin for the last link */
}

.banner nav ul li a {
    text-decoration: none;
    color: #fff;          /* Link color */
}

/* CSS for the title section */
.portfolio-title {
    background-color: #1A1A1A; /* Background color for the title section */
    color: #fff;           /* Text color */
    text-align: center;    /* Center-align the text */
    padding: 20px 0;       /* Add top and bottom padding */
}

.portfolio-title h2 {
    margin: 0;             /* Remove margin for the title */
    font-size: 24px;       /* Adjust font size as needed */
    font-weight: 600;
}